/**************************header**********************/
body{
    
}

main{
   
    background:radial-gradient(at top, rgb(235, 213, 216, 2),rgba(197, 240, 172, 0.30), rgba(236, 245, 231,0.201 ));
  
}

section:not(:first-child){
    width:50%!important;   
}

/* SECTION 2 */
#fleur_bouton{
    position:absolute;
    top:-25px;
    right:0;
}
/* FIN SECTION 2 */

/* SECTION 3 */
#feteMere{
    position:absolute;
    margin:0!important;
    padding:0!important;
    right:0;
    text-align:right!important;
    font-size:1.8em;
}

#section-3 img{
    width:600px;
    height:auto;
}

/* FIN SECTION 3 */



.header-footer{
background-color: #daedce;
font-family: twinkle 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;
text-align: center;
margin:auto;

}

@media screen and(max-width:768px){
    .bg-images{
    background: none;
    
    }
    
}

#section-1{
    width: 100%;
    height: 100vh !important;
    background-image: url("../assets/images/img-header.png");
    background-repeat: no-repeat;
    background-size: cover;  
    

}
.p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-weight: bold;
font-size: xx-large;
padding-top: 100px;

}
.p3{
    bottom: 200px;
    right: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-weight: bold;
font-size: 3em;
}

nav{
    position: fixed;
    right: 70px;
    top:50%;
    transform: translateY(-50%);
}

h1{
    margin: 0 !important;
}
.button{
    font-family: twinkle 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(235, 213, 216, 1);
    border-radius: 50px;
    padding: 10px;
    border-color: white;
    font-style: italic;
    height: 50px;
    position: absolute;
    margin-top: 250px !important;
  
}
.p1{
    background-color:#daedce;
    padding: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    position: absolute;
    margin-left: 500px;
    bottom: 1px;
     
}
.p2{
    padding: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    position: absolute;
    margin-left: 500px;
    bottom: 300px; 
    font-size: large;
}
/*********************footer********************/
